@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
    url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:focus {
  outline: none !important;
}

body {
  font-family: "Gilroy";
}

p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3f4559;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  line-height: 1;

  @media(max-width: 575px) {
    font-size: 14px;
  }
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 8px 0 rgba(52, 82, 82, .3);
  position: fixed;
  width: 100%;
  z-index: 3;
  position: fixed;
  min-height: 106px;
  padding-top: 42px;

  a {
    color: #000;
  }

  &-logo {
    max-width: 172px;
    width: 100%;
    height: 40px;
    position: absolute;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

label {
  margin-bottom: 0px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 0px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: #26353c;

  &+ul {
    margin-top: 16px;

    li {
      margin-bottom: 0px;

      a {
        line-height: 1.2;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.4;

        @media(max-width: 575px) {
          font-size: 22px;
        }
      }
    }
  }

  @media(max-width: 575px) {
    font-size: 24px;
  }
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 10px 20px;
  position: relative;
  user-select: none;
  z-index: 1;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 6px;
  position: relative;
  transition: background .2s ease-out;
  width: 26px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #426463;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header {
  li {
    margin-bottom: 24px;

    @media(max-width: 575px) {
      margin-bottom: 18px;
    }
  }

  .menu {
    clear: both;
    animation-duration: 3s;
    animation-name: slidein;
    width: 440px;
    background-color: #dfefee;
    padding: 100px 80px 54px;
    position: relative;
    top: -68px;
    right: -15%;
    display: none;

    @media(max-width: 575px) {
      width: 320px;
      right: 0%;
      padding: 100px 32px 54px;
      animation-name: slideinMobile;
    }
  }
}

@keyframes slidein {
  from {
    max-height: 0;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  to {
    max-height: 840px;
    height: 100%;
  }
}

@keyframes slideinMobile {
  from {
    max-height: 0;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  to {
    max-height: 680px;
    height: 100%;
  }
}

.header .menu-btn:checked~.menu {
  position: relative;
  top: -68px;
  right: -15%;
  display: block;

  @media(max-width: 575px) {
    right: 0%;
  }
}

.menu-block {
  position: absolute;
  right: 0px;
  top: 0px;
  content: "";

  @media(max-width: 575px) {
    overflow: auto;
    min-height: calc(100vh + 68px);
    height: 100%;
    top: -68px;
    padding-top: 68px;
  }
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.container-fluid {
  padding-right: 12% !important;
  padding-left: 12% !important;

  @media(max-width: 576px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.main {
  padding-top: 106px;
}

.hero {
  min-height: 100vh;
  height: 100%;
  position: relative;
  z-index: 1;
  color: #fff;

  &-name {
    p {
      font-size: 36px;
      color: #fff;
      font-weight: bold;

      @media(max-width: 575px) {
        font-size: 22px;
        margin-bottom: 6px;
      }
    }
  }

  &-bg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    content: "";

    .slick-track {
      height: 100% !important;
    }

    &__img {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/Q-flaeche-Desktop.svg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 3;
  }

  .container-fluid {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    content: "";
  }

  &-pre {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 22px;
    margin-bottom: 20px;

    @media(max-width: 575px) {
      font-size: 18px;
    }
  }

  &-title {
    font-size: 88px;
    color: #fff;
    font-weight: bold;

    @media(max-width: 575px) {
      font-size: 42px;
    }
  }

  &-top {
    padding-top: 320px;
    padding-bottom: 220px;

    @media(max-width: 575px) {
      padding-top: 50%;
      padding-bottom: 10%;
    }
  }
}

.slick-list {
  height: 100%;
}

.afterHero {
  margin-bottom: 120px;
  position: relative;
  margin-top: -224px;
  z-index: 2;

  .container-fluid {
    position: relative;
    z-index: 2;
    margin-bottom: -30px;
  }

  @media(max-width: 575px) {
    margin-bottom: 50px;
    margin-top: -190px;
  }
}

.dark-bg {
  background-color: #26343d;
  width: 78%;
  margin-left: auto;
  padding: 74px 60px;

  @media(max-width: 991px) {
    width: 84%;
  }

  @media(max-width: 575px) {
    padding: 40px 30px;
    width: 90%;
  }

  &__text {
    max-width: 70%;
    width: 100%;

    @media(max-width: 1200px) {
      max-width: 80%;
    }

    @media(max-width: 991px) {
      max-width: 85%;
    }

    @media(max-width: 575px) {
      max-width: 100%;
    }

    p {
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 22px;

      @media(max-width: 575px) {
        font-size: 14px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__title {
    &.library-column__desc {
      margin-top: 0px;
      margin-bottom: 18px;
    }
  }

  &__img {
    position: absolute;
    content: "";
    top: 70px;
    right: 12%;

    img {
      height: 380px;
      max-width: 280px;
      width: 100%;
      object-fit: cover;
    }

  }
}

.library {
  position: relative;
  padding-bottom: 120px;
  margin-bottom: 100px;
  z-index: 2;

  @media(max-width: 575px) {
    padding-bottom: 30px;
    margin-bottom: 0px;
  }

  .container-fluid {
    position: relative;
    z-index: 2;
  }

  &-column {
    display: flex;
    flex-direction: column;

    @media(max-width: 991px) {
      margin-bottom: 44px;
    }

    &__img {
      background-color: #8d898a;

      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
      }
    }

    &__name {
      margin-top: 24px;
      color: #25333c;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 10px;
      max-width: 340px;
      width: 100%;
      transition: 0.35s all;

      &:hover {
        color: #25333c;
      }

      @media(max-width: 575px) {
        font-size: 14px;
      }
    }

    &__line {
      height: 5px;
      width: 50px;
      background-color: #25333c;

      @media(max-width: 575px) {
        height: 3px;
        width: 42px;
      }
    }

    &__desc {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1.4;
      margin-top: 10px;
      color: #bf9c66;
      font-weight: 600;
    }

    &__text {
      p {
        line-height: 1.4;
        font-size: 16px;
      }
    }
  }
}

.title {
  color: #bf9c66;
  font-size: 32px;

  @media(max-width: 575px) {
    font-size: 22px;
    margin-bottom: 16px;
  }

  &-line {
    background-color: #bf9c66;
    height: 5px;
    width: 55px;

    @media(max-width: 575px) {
      height: 3px;
      width: 42px;
    }

  }

  &-block {
    margin-bottom: 30px;
    max-width: 360px;
    width: 100%;
  }

  &-pre {
    &.link {
      @media(max-width: 575px) {
        margin-top: 0px;
      }
    }
  }
}

.text {
  max-width: 800px;
  width: 100%;
  margin-bottom: 57px;

  @media(max-width: 575px) {
    margin-bottom: 65px;
  }

  p {
    margin-bottom: 20px;
    color: #26353c;
    font-size: 18px;
    line-height: 1.4;

    @media(max-width: 575px) {
      font-size: 14px;
    }
  }
}

.link {
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
  color: #26353c;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  transition: 0.35s all;

  &:hover {
    text-decoration: none;
    color: #26353c;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
  }

  @media(max-width: 575px) {
    margin-top: 32px;
    font-size: 16px;
  }
}

.arrow {
  height: 20px;
  width: 14px;
}

.beige-block {
  width: 78%;
  min-height: 420px;
  background-color: #f4ece1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  content: "";

  @media(max-width: 991px) {
    width: 84%;
  }

  @media(max-width: 575px) {
    width: 100%;
    min-height: 66%;
  }
}

.investments {
  margin-bottom: 120px;
  position: relative;
  z-index: 1;
  padding-top: 60px;

  @media(max-width: 575px) {
    padding-top: 54px;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }

  .container-fluid {
    position: relative;
    z-index: 3;
  }

  &-block {
    .text {
      max-width: 90%;

      @media(max-width: 991px) {
        max-width: 100%;
      }
    }

    .title {
      color: #416362;

      &-line {
        background-color: #416362;
      }
    }
  }
}

.blue-bg {
  position: absolute;
  content: "";
  background-color: #eff5f5;
  width: 73%;
  top: 0px;
  right: 0px;
  min-height: 520px;

  @media(max-width: 991px) {
    width: 94%;
  }

  @media(max-width: 768px) {
    min-height: 620px;
  }

  @media(max-width: 575px) {
    width: 100%;
    height: 100%;
  }
}

.adress {
  min-height: 100vh;
  height: 100%;
  position: relative;
  padding-top: 160px;

  @media(max-width: 575px) {
    padding-top: 60px;
  }

  &-img {
    height: 100%;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    max-width: 400px;

    p {
      color: #25333c;
    }
  }

  .link {
    color: #25333c;

  }
}

.footer {
  background-color: #426463;
  padding-top: 38px;
  padding-bottom: 44px;

  @media(max-width: 575px) {
    font-size: 14px;
    padding-bottom: 70px;
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.8);

    .col-lg-4:last-child {
      .footer-link:first-child {
        margin-bottom: 42px;
      }
    }
  }

  &-logo {
    max-width: 130px;
    height: 110px;

    img {
      width: 100%;
    }
  }

  &-line {
    background-color: #fff;
    height: 5px;
    width: 50px;

    @media(max-width: 575px) {
      height: 3px;
      width: 42px;
    }
  }

  &-link {
    width: 100%;

    &:first-child {
      @media(max-width: 575px) {
        margin-bottom: 65px;
      }
    }
  }

  &-details {
    a {
      img {
        width: 18px;
        height: 18px;
      }

    }
  }

  a {
    color: #fff;
  }
}

.mr-8 {
  margin-right: 8px;
}

.capslock {
  text-transform: uppercase;
}

.mt-30 {
  margin-top: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-lg-50 {
  @media(max-width: 991px) {
    padding-bottom: 50px;
  }
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.languages {
  a {
    text-transform: uppercase;
    font-weight: 600;

    &:first-child {
      margin-right: 18px;
    }
  }
}

@media(max-width: 575px) {
  .pb-sm-100 {
    padding-bottom: 100px;
  }

  .pb-sm-80 {
    padding-bottom: 80px;
  }
}

._inside {
  .hero {
    min-height: 410px;

    &-top {
      padding-top: 140px;
      padding-bottom: 140px;
    }

    &-pre {
      margin-bottom: 15px;
    }

    &-title {
      font-size: 64px;
      line-height: 1;

      @media(max-width: 575px) {
        font-size: 42px;
      }
    }
  }

  .afterHero {
    margin-top: -40px;
    margin-bottom: 0px;
    padding-bottom: 90px;
    background-color: #f3f7f8;

    @media(max-width: 575px) {
      padding-bottom: 60px;
    }
  }

  .library {
    background: linear-gradient(#f3f7f8, #eff5f5);
    padding-bottom: 335px;

    @media(max-width: 991px) {
      padding-bottom: 75px;
      margin-bottom: 0px;
    }

    &-column {
      margin-bottom: 0px;
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
  content: "";
}

.slick-prev:before {
  content: "";
}

.slick-prev {
  left: -50px;
  top: 40%;

  @media(max-width: 576px) {
    left: -15px;
    background-color: #f4ecdf;
  }

  img {
    transform: rotate(180deg);
    height: 56px;
    width: 40px;

    @media(max-width: 576px) {
      height: 30px;
    }
  }
}

.slick-next,
.slick-prev {
  height: 56px;
  width: 40px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-next {
  right: -50px;
  top: 40%;

  @media(max-width: 576px) {
    right: -15px;
    background-color: #f4ecdf;
  }

  img {
    height: 56px;
    width: 40px;

    @media(max-width: 576px) {
      height: 30px;
    }
  }
}

.projekte {
  margin-top: -310px;
  position: relative;
  z-index: 2;
  margin-bottom: 90px;

  @media(max-width: 991px) {
    margin-top: 0px;
    padding-top: 70px;
  }

  @media(max-width: 575px) {
    margin-bottom: 60px;
  }

  &-img {
    margin-top: 40%;

    @media(max-width: 1400px) {
      margin-top: 70%;
    }

    @media(max-width: 991px) {
      margin-top: 0px;
    }
  }

  .title {
    color: #26343d;
    font-weight: 600;

    &-line {
      background-color: #26343d;
    }

    &-pre {
      color: #446262;
    }

    &-block {
      max-width: 100%;
    }
  }

  .text {
    margin-bottom: 0px;
    max-width: 100%;
  }

  img {
    width: 100%;
    height: 370px;
    object-fit: cover;
  }

  .beige-block {
    right: 0px;
    left: auto;
    top: 0px;
    min-height: 400px;
    width: 70%;
    height: 94%;

    @media(max-width: 1400px) {
      height: 100%;
    }

    @media(max-width: 991px) {
      height: 90%;
      width: 100%;
    }
  }

  &-block {
    padding-top: 55px;
    padding-bottom: 50px;

    @media(max-width: 991px) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .container-fluid {
    position: relative;
    z-index: 3;
  }
}

.pre-footer {
  margin-bottom: 70px;

  @media(max-width: 991px) {
    margin-bottom: 0px;

    .col-lg-6 {
      margin-bottom: 120px;
    }
  }

  .library-column {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media(max-width: 991px) {
      height: auto;
      margin-bottom: 0px;
    }

    &__img {
      img {
        height: 150px;
      }
    }

    &__text {
      margin-top: 28px;
    }

    .link {
      margin-top: auto;

      @media(max-width: 991px) {
        margin-top: 30px;
      }
    }
  }
}

.route {
  padding: 100px 0px;

  li {
    list-style-type: none;
    font-size: 24px;
    font-weight: 600;

    a {
      color: #333;
    }
  }
}

._portfolio {
  .afterHero {
    padding-bottom: 120px;

    @media(max-width: 575px) {
      background-color: #fff;
      padding-bottom: 150px;
    }
  }

  .dark-bg {
    @media(max-width: 1440px) {
      padding-bottom: 160px;
    }
    @media(max-width: 991px) {
      padding-bottom: 220px;
    }
    @media(max-width: 575px) {
      padding-bottom: 40px;
    }

    &__text {
      max-width: 58%;

      @media(max-width: 1440px) {
        max-width: 80%;
        position: relative;
        z-index: 3;
      }
      @media(max-width: 991px) {
        max-width: 100%;
      }
    }

    &__img {
      z-index: 2;

      @media(max-width: 1440px) {
        right: 10%;
        top: 40%;
        img {
          max-width: 225px;
          height: 280px;
        }
      }
      @media(max-width: 1200px) {
        top: 50%;
      }
      @media(max-width: 800px) {
        top: 60%;
      }
      @media(max-width: 575px) {
        margin-top: 35px;
        position: static;
        margin-bottom: -118px;
      }
    }
  }

  .library {
    padding-bottom: 70px;
    background: transparent;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;

    &:after {
      position: absolute;
      z-index: 2;
      content: "";
      background-color: #f3f7f8;

      @media(max-width: 575px) {
        background-color: #fff;
      }

      height: 55%;
      width: 100%;
      top: 0px;
      left: 0px;
    }

    .container-fluid {
      z-index: 3;
      position: relative;
    }

    .col-lg-4 {
      margin-bottom: 70px;
    }
  }
}

._details {
  .hero::after {
    background-image: url("../img/Q-orange.svg");
  }
  .afterHero {
    min-height: 860px;
    background-image: url("../img/buildings-3.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .library {
    padding: 0px;
    background: #fff;
    margin-bottom: 140px;
    .title-block {
      max-width: 800px;
    }
  }
  .projekte {
    margin-top: -40px;
    margin-bottom: 20px;
    @media(max-width: 1500px) {
      margin-bottom: 80px;
    }
    .beige-block {
      right: auto;
      left: 0px;
      height: 82%;
      @media(max-width: 1700px) {
        height: 90%;
      }
      @media(max-width: 1500px) {
        height: 95%;
      }
    }
    &-block {
      padding-top: 60px;
      padding-bottom: 70px;
      @media(max-width: 991px) {
        padding-bottom: 0px;
        padding-top: 0px;
      }
    }
    &-img {
      margin-top: 60%;
      @media(max-width: 991px) {
        margin-top: 20px;
      }
    }
  }
  .slick-next, .slick-prev {
    top: 50%;
  }
}